* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column_app {
  float: left;
  width: 250px;
  padding: 10px;
  height: 160px; /* Should be removed. Only for demonstration */
}

.column_img {
  float: left;
  width: 250px;
  padding: 10px;
  height: 320px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}